.button {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    font-size: 15px;
}

.icon {
    max-height: 20px;
}

.button:not(.register):not(.cta-button):not(.eRegister) {
    gap: 0;
    padding-inline: 28px;
    .icon {
        width: 0;
    }
}

@media (max-width: 960px) {
    .icon {
        visibility: hidden;
    }
}

.action-button {
    background-color: rgba(0, 0, 0, 0.8);
    width: 2rem;
    aspect-ratio: 1/1;
    transition: background-color 1s;
    
    &:hover {
        background-color: rgba(47, 255, 0, 0.4);
    }
}