.button {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    font-size: 16px;
}

.icon {
    max-height: 20px;
}

.button:not(.register):not(.active):not(.cta-button):not(.course-link) {
    .icon {
        width: 0;
        transition: width .5s;

        @media (max-width: 960px) {
            width: 20px;
        }
    }

    &:hover {
        .icon {
            width: 20px;
        }
    }
}

.action-button {
    background-color: rgba(0, 0, 0, 0.8);
    width: 2rem;
    aspect-ratio: 1/1;
    transition: background-color 1s;
    
    &:hover {
        background-color: rgba(47, 255, 0, 0.4);
    }
}